body {
  margin: 0;
  padding: 0;
}

.__wrapper {
  margin: 0 auto;
  max-width: 610px;
}

.__divGameBody {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.__divGameCell {
  width: 24%;
  height: 65px;
  background-color: rgb(202, 201, 201);
  text-align: center;
  border: 2px solid black;
  font-size: 32px;
  position: relative;
}

.__divGameCell:hover {
  cursor: pointer;
}

.__ulButtons, .__divAboveField, .__divUnderField, .__divSizesContainer, .__ulSizeLinks {
  display: flex;
}

.__ulButtons {
  justify-content: space-between;
  padding-left: 0;
}
.__ulButtons li {
  list-style-type: none;
  padding: 0 3%;
  background-color: blueviolet;
  border: 2px solid black;
  cursor: pointer;
}
.__ulButtons li:nth-child(2) {
  background-color: rgb(202, 201, 201);
}

.__divAboveField, .__divUnderField {
  justify-content: space-around;
}

.__divSizesContainer {
  justify-content: center;
}

.__ulSizeLinks {
  padding: 0;
  margin: 0;
}
.__ulSizeLinks .__liSizeItem {
  list-style-type: none;
  padding-left: 10px;
  flex-wrap: wrap;
}

.__stop_active {
  background-color: red;
}

.__ulButtons .__save_active {
  background-color: green;
}

li:hover {
  color: white;
}

.popupBody {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(41, 41, 41, 0.5);
  display: none;
  transition: all 0.4s ease-in-out;
}

.popupBody_active {
  display: block;
}

.popupWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.popupContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  height: 500px;
  width: 300px;
}

.popupForm {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.popupButton {
  margin-top: 15px;
}

.popupButton:hover {
  color: white;
}

.popupResultItem {
  text-align: center;
}

.none {
  display: none;
}

@-webkit-keyframes top {
  from {
    top: 0;
  }
  to {
    top: 65px;
  }
}

@keyframes top {
  from {
    top: 0;
  }
  to {
    top: 65px;
  }
}
@-webkit-keyframes bottom {
  from {
    bottom: 0;
  }
  to {
    bottom: 65px;
  }
}
@keyframes bottom {
  from {
    bottom: 0;
  }
  to {
    bottom: 65px;
  }
}
@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: 15%;
  }
}
@keyframes left {
  from {
    left: 0;
  }
  to {
    left: 15%;
  }
}
@-webkit-keyframes right {
  from {
    right: 0;
  }
  to {
    right: 15%;
  }
}
@keyframes right {
  from {
    right: 0;
  }
  to {
    right: 15%;
  }
}
.transition__top {
  -webkit-animation-name: top;
          animation-name: top;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  background-color: burlywood;
  color: red;
  transform: scaleX(0.8);
  transition: 0.1;
}

.transition__bottom {
  -webkit-animation-name: bottom;
          animation-name: bottom;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  background-color: burlywood;
  color: red;
  transform: scaleX(0.8);
  transition: 0.1;
}

.transition__left {
  -webkit-animation-name: left;
          animation-name: left;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  background-color: burlywood;
  color: red;
  transform: scaleX(0.8);
  transition: 0.1;
}

.transition__right {
  -webkit-animation-name: right;
          animation-name: right;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  background-color: burlywood;
  color: red;
  transform: scaleX(0.8);
  transition: 0.1;
}

@media screen and (max-width: 410px) {
  .__wrapper {
    max-width: 315px;
  }
}/*# sourceMappingURL=style.css.map */